.text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.text-align-center {
  text-align: center;
}

.larger-font {
  font-size: 2.5rem;
}

.left-margin-slight {
  margin-left: 0.5rem;
}

.left-margin-medium {
  margin-left: 2rem;
}

.full-width {
  width: 90vw;
}



