.text-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.center-text-align {
  text-align: center;
}

.left-text-align {
  text-align: left;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.large-font {
  font-size: 1.5rem;
}
.larger-font {
  font-size: 2.5rem;
}

.slight-left-margin {
  margin-left: 0.5rem;
}

.large-top-margin {
  margin-top: 1rem;
}

.large-padding {
  padding-top: 1rem;
}

.full-width {
  width: 100vw;
}

.lighter-text-stroke {
  -webkit-text-stroke: 4px white;
}

.thin-border-bottom {
  border-bottom: 1px solid black;
}

.border-collapse {
  border-collapse: collapse;
}



